/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #717171;
}
/* line style */
.line::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    /* Gia tri 1: huong trai mau
    to right: trai qua phai
    to left: phai qua trai
    to bottom: tu tren xuong
    to top: tu duoi len
    
    Gia tri 2: mau bat dau
    Gia tri 3: mau ket thuc
    */
    background: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: 0.5s;
}
.line.nav-item:hover::after {
    width: 100%;
}
.active.line::after {
    width: 100%;
}
/* Title */
.title {
    color: #ec7532;
    font-size: 1.125rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 40px;
}
.title::after {
    content: '';
    width: 125px;
    height: 4px;
    background: linear-gradient(to right, #ec7532, #fbbd61);
    display: block;
    margin-top: 20px;
}
/* Header */
header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
header p {
    font-size: 14px;
    font-weight: 700;
}
#movieNavBar ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#movieNavBar .nav-item .nav-link {
    color: white;
    text-transform: uppercase;
    line-height: 0.8rem;
    letter-spacing: 3px;
    padding: 20px 24px;
}
#headerFixed {
    background-color: #101010;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translate(-50%, -100%);
    transition: transform 0.5s;
}
/* CAROUSEL */
#carouselMovie .carousel-item .carousel-caption {
    text-align: left;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}
#carouselMovie .carousel-item .carousel-caption p:first-child {
    color: #fbbd61;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 0;
    animation-delay: .5s;
}
#carouselMovie .carousel-item .carousel-caption h2 {
    font-size: 3.25rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
#carouselMovie .carousel-item .carousel-caption p:last-of-type {
    font-size: 1.125rem;
    margin-bottom: 20px;
}
.movieCarousel__trailer {
    animation-delay: .5s
}
.movieCarousel__trailer>span {
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 0.8rem;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    margin-right: 8px;
}
.movieCarousel__trailer button {
    font-size: 0.8rem;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    letter-spacing: 4px;
    color: white;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: relative;
    overflow: hidden;

}
.movieCarousel__trailer button::before {
    content: '';
    width: 110%;
    height: 100%;
    display: block;
    background-color: #ec7532;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(30deg) translateX(-105%);
    transition: 0.5s;
    z-index: 1;
}
.movieCarousel__trailer button:hover::before {
    transform: skewX(30deg) translateX(-10px);
}
.movieCarousel__trailer button span {
    position: relative;
    z-index: 2;
}
#carouselMovie .carousel-indicators button {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    opacity: 1;
    box-sizing: border-box;
}
#carouselMovie .carousel-indicators button.active {
    background: white;
}
#carouselMovie .carousel-indicators {
    left: 10%;
    bottom: 8%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding-left: 10px;
    margin-left: 0;
}
#carouselMovie .movieCarousel__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);
}

/* NEW IN */
.section {
    padding: 75px 0;
}
.newIn__title {
    text-align: center;
}
.newIn__title h3 {
    font-size: 18px;
    margin: 1rem 0;
    color: #4a4a4a;
}
.newIn__title .newIn__rating i {
    color: #fbbd61;
}
.newIn__img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.newIn__img .newIn__overlay {
    position: absolute;
    width: 200%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, #fbbd61, #ec7532);
    display: block;
    transform: skewX(30deg) translateX(-150%);
    transition: 0.5s;
}
.newIn__img:hover .newIn__overlay {
    opacity: 0.9;
    transform: skewX(30deg) translateX(-100px);
}
.newIn__img .newIn__play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.newIn__img:hover .newIn__play {
    opacity: 1;
}
.newIn__img .newIn__play i {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    transition: 0.5s;
}
.newIn__img .newIn__play i:hover {
    transform: scale(0.9);
}
.newIn__img .newIn__play a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.8rem;
}
.newIn__img .newIn__play .date_released {
    color: white;
}